.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }
 .container {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 27px;
   box-sizing: border-box;
 }


 body {
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f; 
}
/* Общее-поведение кнопок --> */
.button {
  text-decoration: none;
  background: linear-gradient(to top, rgba(231,74,53, 1), rgba(242, 104, 67, 1));
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.button:hover,
.button:focus,
.btn:hover {
  background: 
    linear-gradient( rgba(255,255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, rgba(231,74,53, 1), rgba(242, 104, 67, 1));
} 
.button:active,
.btn:active {
  background:
    linear-gradient( rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to bottom, rgba(231,74,53, 1), rgba(242, 104, 67, 1));
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.btn {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background: linear-gradient(to top, rgba(231,74,53, 1), rgba(242, 104, 67, 1));
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border:0;
}
 /* <--Общее поведение кнопок */

 /*header*/
.main-header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
}
.site-nav {
  display: flex;
  width: 679px;
  margin: 12px 0;
  margin-right: 30px;
  padding: 0 10px;
  list-style: none;
}
.site-nav-item {
  position: relative;
  height: 20px;
  padding: 6px 14px;
  border-radius: 16px;
}
.site-nav-item:hover {
  background-color: #f7f6f3;
}
.site-nav-item:hover a {
  color: #323232;
}
.site-nav-item:hover .submenu-catalog {
  display: block;
}
.site-nav-item a {
  text-decoration: none;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.submenu-catalog {
  position: absolute;
  display: none;
  padding: 12px 20px;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.submenu-catalog-item a {
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}


.user-block {
  position: relative;
  display: flex;
}
label[for="search"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px; 
  font-size: 0;
  background: rgba(255, 255, 255, 0.2) url(../img/loupe.svg) no-repeat;
  background-position: 50%;
  border-radius: 50%;
}
label[for="search"]:hover {
  background: rgb(248, 247, 244) url(../img/loupe-activ.svg) no-repeat;
  background-position: 50%;
}
.window-search {
  position: absolute;
  top: 35px;
  left: -310px;
  width: 341px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
input[type="search"] {
  width: 311px;
  min-height: 42px;
  margin: 21px 15px;
  padding: 0 14px;
  border: 1px solid rgb(211, 211, 210);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.entry {
  height: 12px;
  margin-right: 10px;
  padding: 10px 16px;
  padding-left: 44px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
      
}
.entry::before {
  position: absolute;
  width: 28px;
  height: 25px;
  content: "";
  background: url(../img/entry.svg) no-repeat;
}
.window-login {
  position: absolute;
  top: 35px;
  width: 241px;
  padding: 18px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}
input[type="email"] {
  width: 211px;
  margin-bottom: 20px;
  padding: 9px 14px;
  font-size: 14px;
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}
input[type="password"] {
  width: 211px;
  margin-bottom: 20px;
  padding: 9px 14px;
  font-size: 14px;
  line-height: 24px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}
.window-login .btn {
  padding: 10px 26px;
  border-radius: 22px;
}
.registracion-container {
  position: absolute;
  left: 139px;
  top: 149px;
}
.registration {
  width: 125px;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: #323232; 
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);  
}

/* Слайдер начало*/
.slider-controls label {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}
.slides-1 a,
.slides-2 a,
.slides-3 a {
  padding: 10px 42px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  border-radius: 32px;
}
.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
input[id^="btn-"] {
  display: none;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: rgba(255, 255, 255, 1);
}
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: rgba(255, 255, 255, 1);
}
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: rgba(255, 255, 255, 1);
}
.slides-1,
.slides-2,
.slides-3 {
  display: none;
}
input[id="btn-1"]:checked ~ .slider-inner .slides-1 {
  display: block
}
input[id="btn-2"]:checked ~ .slider-inner .slides-2 {
  display: block
}
input[id="btn-3"]:checked ~ .slider-inner .slides-3 {
  display: block
}
/*слайдер конец*/

/*Банеры*/
.baners {
  justify-content: space-between;
}
.baner {
  width: 520px;
  min-height: 197px;
  margin-bottom: 34px;
  padding: 16px 20px;
  font-weight: 700;
  border-radius: 12px;
}
.baner h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
}
.baner p {
  margin: 0;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 22px;
}
.baner a {
  float: right;
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 23px;
}
.baner-left {
  background: #760221 url("../img/raspberry-background.jpg");
}
.baner-right {
  background: #7b5241 url(../img/chocolate-background.jpg);
}
/*Популярные товары*/
.popular {
  display: flex;
  margin: 0 auto;
  padding: 6px 0;
  justify-content: center;
  list-style: none;
}
.hit {
  position: relative;
  width: 293px;
  height: 405px;
  text-align: center;
  border-radius: 5px;
}
.hit:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
/*.hit:hover .hovering {
  display: inline-block;
}*/
.hit img {
  border-radius: 50%;
}
.price {
  position: absolute;
  bottom: 105px;
  left: 10px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.price::after {
  content: "";
  display: block;
  width: 35px;
  height: 40px;
  background: url(../img/rub.svg) no-repeat;
}
.mass {
  position: absolute;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}
.hit .name-cream {
  display: inline-block;
  width: 267px;
  font-weight: 500;
  color: #ffffff;
}
.hit .hovering {
  display: inline-block;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 22px;
}


/*catalog*/

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}